In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [17]:
def read_data(file_path : str):
    """function that read a csv file into a dataframe
    inputs : filename or filepath : str
    output : df : dataframe object"""
    df = pd.read_csv('titanic-passengers.csv')
    return df

In [18]:
display(df)

                    PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
343;No;2;Collander        Mr. Erik Gustaf;male;28.0;0;0;248740;13.0;;S
76;No;3;Moen          Mr. Sigurd Hansen;male;25.0;0;0;348123;7.65;F...
641;No;3;Jensen       Mr. Hans Peder;male;20.0;0;0;350050;7.8542000...
568;No;3;Palsson      Mrs. Nils (Alma Cornelia Berglund);female;29....
672;No;1;Davidson     Mr. Thornton;male;31.0;1;0;F.C. 12750;52.0;B71;S
...                                                                ...
10;Yes;2;Nasser       Mrs. Nicholas (Adele Achem);female;14.0;1;0;2...
61;No;3;Sirayanian              Mr. Orsen;male;22.0;0;0;2669;7.2292;;C
535;No;3;Cacic           Miss. Marija;female;30.0;0;0;315084;8.6625;;S
102;No;3;"Petroff     Mr. Pastcho (""Pentcho"")";male;;0;0;349215;7...
428;Yes;2;"Phillips   Miss. Kate Florence (""Mrs Kate Louise Philli...

[891 rows x 1 columns]

In [20]:
first_row = df.iloc[0]

In [23]:
print(first_row)

PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked     Mr. Erik Gustaf;male;28.0;0;0;248740;13.0;;S
Name: 343;No;2;Collander, dtype: object

In [31]:
first_column = df.iloc[:, :20]
print("First Column Of Dataframe: ") 
print(first_column)

First Column Of Dataframe:
                    PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
343;No;2;Collander        Mr. Erik Gustaf;male;28.0;0;0;248740;13.0;;S
76;No;3;Moen          Mr. Sigurd Hansen;male;25.0;0;0;348123;7.65;F...
641;No;3;Jensen       Mr. Hans Peder;male;20.0;0;0;350050;7.8542000...
568;No;3;Palsson      Mrs. Nils (Alma Cornelia Berglund);female;29....
672;No;1;Davidson     Mr. Thornton;male;31.0;1;0;F.C. 12750;52.0;B71;S
...                                                                ...
10;Yes;2;Nasser       Mrs. Nicholas (Adele Achem);female;14.0;1;0;2...
61;No;3;Sirayanian              Mr. Orsen;male;22.0;0;0;2669;7.2292;;C
535;No;3;Cacic           Miss. Marija;female;30.0;0;0;315084;8.6625;;S
102;No;3;"Petroff     Mr. Pastcho (""Pentcho"")";male;;0;0;349215;7...
428;Yes;2;"Phillips   Miss. Kate Florence (""Mrs Kate Louise Philli...

[891 rows x 1 columns]